# Data Science Tools and Ecosystem

## Introduction

#### In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__

* List popular languages for Data Science
* List commonly used libraries used by Data Scientists
* List the Data Science Tools
* List one simple arithmetic example
* Code to convert 200 minutes to hours

_Some of the popular languages that Data Scientists use are:_

1. Python
2. R
3. Scala
4. SQL
5. Julia

_Some of the commonly used libraries used by Data Scientists include:_

1. pandas
2. numpy
3. seaborn
4. matplotlib
5. scikit-learn

| Data Science Tools |
|----------------------|
|    Jupyter         |
|  RStudio |
| Visual Studio Code |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [45]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [57]:
# This will convert 200 minutes to hours by diving by 60
print(f"{200/60:.2f}  hours approximately")

3.33  hours approximately

## Author
Dhinesh Babu C M