#### **Exercise 2: Create markdown cell with title of the notebook**

# Data Science Tools and Ecosystem

#### **Exercise 3 - Create a markdown cell for an introduction**

## Introduction

#### In this notebook, Data Science Tools and Ecosystem are summarized.

#### **Exercise 10 - Insert a markdown cell to list Objectives**

__Objectives:__

* List popular languages for Data Science
* List commonly used libraries used by Data Scientists
* List the Data Science Tools
* List one simple arithmetic example
* Code to convert 200 minutes to hours

#### **Exercise 4 - Create a markdown cell to list data science languages**

_Some of the popular languages that Data Scientists use are:_

1. Python
2. R
3. Scala
4. SQL
5. Julia

#### **Exercise 5 - Create a markdown cell to list data science libraries**

_Some of the commonly used libraries used by Data Scientists include:_

1. pandas
2. numpy
3. seaborn
4. matplotlib
5. scikit-learn

#### **Exercise 6 - Create a markdown cell with a table of Data Science tools**

| Data Science Tools |
|----------------------|
|    Jupyter         |
|  RStudio |
| Visual Studio Code |

#### **Exercise 7 - Create a markdown cell introducing arithmetic expression examples**

### Below are a few examples of evaluating arithmetic expressions in Python.

#### **Exercise 8 - Create a code cell to multiply and add numbers**

In [45]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

#### **Exercise 9 - Create a code cell to convert minutes to hours**

In [57]:
# This will convert 200 minutes to hours by diving by 60
print(f"{200/60:.2f}  hours approximately")

3.33  hours approximately

#### **Exercise 11 - Create a markdown cell to indicate the Author's name**

## Author
Dhinesh Babu C M